*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: linear-gradient(to bottom, hsl(273, 75%, 66%), hsl(240, 73%, 65%)) ;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
@media screen and (min-width: 320px) and (max-width: 420px) {
    body{
        height: 100%;
    }
    .desktop, .desktop1, .desktop3{
        display: none;
    }
    .mobile{
        margin-top: 150px;
        width: 75%;
        position: absolute;
        top: -1%;
        right:  11%;
    }
    .mobile1{
        margin-top: 150px;
        width: 70%;
        position: absolute;
        top: -23%;
        right: 12%;
        
    }
    h1{
        font-size: 2.5em;
        text-align: center;
        font-weight: 400;
        color: hsl(238, 29%, 16%);
    }
   main{
    margin-top: 150px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    border-radius: 10px;
    margin-bottom: 50px;
    /* height: 80%; */
    /* position: absolute;
    bottom: 4%; */
    width: 90%;
   }
   .accord{
    /* display: block; */
    width: 100%;
    z-index: 12;
    /* height: 100vh; */
    text-align: left;
    margin-top: 140px;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 20px;
   }
   hr{
    background-color: hsl(240, 5%, 91%);
    /* color: hsl(240, 5%, 91%); */
    width: 90%;
    margin-left: 15px;
    margin-top: 10px;
   }
   .accordion{
    /* font-weight: 700; */
    cursor: pointer;
    padding: 15px;
    width: 100%;
    outline: none;
    transition: 0.4s;
    color: hsl(238, 29%, 16%);
    font-size: 0.9em;
    font-weight: 400;
   }
   .accordion:hover{
    font-weight: 700;
   }
   .accordion:after{
    content: url(../images/icon-arrow-down.svg);
    /* font-size: 13px; */
    color: #777;
    float: right;
    margin-left: 5px;
   }
   .active, .accordion:hover{
    color : hsl(237, 12%, 33%);
   }
   .active:after{
    content: url('../images/arrow-down.svg');
    width: 5%;
    float: right;
    margin-left: 5px;
   }
   .panel{
    padding: 0 18px;
    /* display: none; */
    color: hsl(238, 29%, 16%);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
   }
}
@media screen and (min-width : 1200px) and (max-width : 1440px) {
    .mobile,.mobile1{
        display: none;
    }
    html,body{
        height: 100%;
    }
    .desktop{
        width: 50%;
        height: 100%;
        position: absolute;
        top: -2%;
        right: 62%;
    }
    .desktop1{
        position: absolute;
        top: 25%;
        right: 63%;
        overflow: hidden;
    }
    .desktop3{
        position: absolute;
        top: 45%;
        right: 87%;
        overflow: hidden;
    }
    main{
        margin-top: 30px;
        background: white;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 125px;
        border-radius: 10px;
        /* margin-bottom: 50px; */
        width: 80%;
        height: 90vh;
    }
    .accord{
        /* display: block; */
        width: 100%;
        z-index: 12;
        /* height: 100vh; */
        text-align: left;
        margin-top : 30px;
        margin-left: 520px;
        margin-right: 70px;
        padding-bottom: 20px;
        float: right;
     }
       h1{
        font-size: 2.5em;
        text-align: left;
        padding-bottom: 20px;
        color: hsl(238, 29%, 16%);
        font-weight: 400;
    }
    hr{
        background-color: hsl(240, 5%, 91%);
        /* color: hsl(240, 5%, 91%); */
        width: 90%;
        margin-left: 15px;
        margin-top: 10px;
    }
    .accordion{
        /* font-weight: 700; */
        cursor: pointer;
        padding: 15px;
        width: 100%;
        outline: none;
        transition: 0.4s;
        color: hsl(238, 29%, 16%);
        font-size: 0.9em;
        font-weight: 400;
    }
    .accordion:hover{
        font-weight: 700;
        color: hsl(14, 88%, 65%);
    }
     .accordion:after{
        content: url(../images/icon-arrow-down.svg);
        /* font-size: 13px; */
        color: #777;
        float: right;
        margin-left: 5px;
    }
    .active{
        color : hsl(237, 12%, 33%);
     }
     .active:after{
        content: url('../images/arrow-down.svg');
        width: 5%;
        float: right;
        margin-left: 5px;
    }
    .panel{
        padding: 0 18px;
        /* display: none; */
        color: hsl(238, 29%, 16%);
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.2s ease-out;
   }

}
