*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}
body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-height: 100vh;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}
@media screen and (min-width : 375px) and (max-width : 425px) {
    h1{
        font-weight: 100;
        margin-top: 30px;
        text-align: center;
    }
   
   form{
    padding-top: 30px;
  
  }
  input{
    width: 85%;
    padding: 12px;
    outline: none;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 20px;
  }

 input[type = "email"] {
    border: 1px solid hsl(223, 100%, 88%);
    margin-bottom: 15px;
 }
 input[type = "email"]::placeholder{
    font-size: 1.1em;
    padding-left: 12px;
    color:  hsl(223, 100%, 88%);
  }
  input[type = "email"]:invalid{
    border: 1px solid hsl(354, 100%, 66%);
  }
  input[type = "submit"]{
  background-color:  hsl(224, 93%, 58%);
  border: none;
  color: white;
  font-size: 1em;
  font-weight: 500;
  }
  .sub-text{
    margin-top: 25px;
    text-align: center;
    color: hsl(209, 33%, 12%);
    font-weight: 100;
  }
 .dashboard{
    margin-top: 50px;
    width: 85%;
    margin-left: 25px;
    margin-right: 25px;
  }
  .font-awesome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  .font-awesome img{
    width: 7%;
    margin-left: 30px;
  }
  .font-awesome a{
    list-style-type: none;
    text-decoration: none;
  }
  footer{
    margin-top: 70px;
  }
  footer p{
    text-align: center;
    color:  hsl(0, 0%, 59%);
  }
  #error{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
  }
}
@media screen and (min-width : 576px) and (max-width : 768px ) {
    h1{
        font-weight: 100;
        margin-top: 30px;
        text-align: center;
    }
   
   form{
    padding-top: 30px;
  
  }
  input{
    width: 90%;
    padding: 12px;
    outline: none;
    margin-left: 35px;
    margin-right: 35px;
    border-radius: 20px;
  }

 input[type = "email"] {
    border: 1px solid hsl(223, 100%, 88%);
    margin-bottom: 15px;
 }
 input[type = "email"]::placeholder{
    font-size: 1.1em;
    padding-left: 12px;
    color:  hsl(223, 100%, 88%);
  }
  input[type = "email"]:invalid{
    border: 1px solid hsl(354, 100%, 66%);
  }
  input[type = "submit"]{
  background-color:  hsl(224, 93%, 58%);
  border: none;
  color: white;
  font-size: 1em;
  font-weight: 500;
  }
  .sub-text{
    margin-top: 25px;
    text-align: center;
    color: hsl(209, 33%, 12%);
    font-weight: 100;
  }
 .dashboard{
    margin-top: 50px;
    width: 85%;
    margin-left: 25px;
    margin-right: 25px;
  }
  .font-awesome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  .font-awesome img{
    width: 7%;
    margin-left: 30px;
  }
  .font-awesome a{
    list-style-type: none;
    text-decoration: none;
  }
  footer{
    margin-top: 70px;
  }
  footer p{
    text-align: center;
    color:  hsl(0, 0%, 59%);
  }
  #error{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.7em;
  }
}
@media screen and (min-width : 960px) and (max-width : 1140px) {
    h1{
        font-weight: 100;
        margin-top: 30px;
        text-align: center;
    }
   
   form{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  input{
    padding: 12px;
    outline: none;
    margin-left: 15px;
    border-radius: 20px;
  }

 input[type = "email"] {
    border: 1px solid hsl(223, 100%, 88%);
    width: 35%;
 }
 input[type = "email"]::placeholder{
    font-size: 1.1em;
    padding-left: 12px;
    color:  hsl(223, 100%, 88%);
  }
  input[type = "email"]:invalid{
    border: 1px solid hsl(354, 100%, 66%);
  }
  input[type = "submit"]{
  background-color:  hsl(224, 93%, 58%);
  border: none;
  color: white;
  font-size: 1em;
  font-weight: 500;
  width: 15%;
  }
  input[type = "submit"]:hover{
    opacity: 0.5;
  }
  .sub-text{
    margin-top: 25px;
    text-align: center;
    color: hsl(209, 33%, 12%);
    font-weight: 100;
  }
 .dashboard{
    margin-top: 50px;
    width: 85%;
    margin-left: 75px;
    margin-right: 25px;
  }
  .font-awesome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  .font-awesome img{
    width: 2%;
    margin-left: 30px;
  }
  .font-awesome a{
    list-style-type: none;
    text-decoration: none;
  }
  footer{
    margin-top: 70px;
  }
  footer p{
    text-align: center;
    color:  hsl(0, 0%, 59%);
  }
  #error{
    font-size: 0.7em;
    clear: both;
  }
 
}
@media  screen and (min-width : 1200px) and (max-width : 1440px) {
    h1{
        font-weight: 100;
        margin-top: 30px;
        text-align: center;
    }
   
   form{
    padding-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
  
  }
  input{
    padding: 12px;
    outline: none;
    margin-left: 15px;
    border-radius: 20px;
  }

 input[type = "email"] {
    border: 1px solid hsl(223, 100%, 88%);
    width: 35%;
 }
 input[type = "email"]::placeholder{
    font-size: 1.1em;
    padding-left: 12px;
    color:  hsl(223, 100%, 88%);
  }
  input[type = "email"]:invalid{
    border: 1px solid hsl(354, 100%, 66%);
  }
  input[type = "submit"]{
  background-color:  hsl(224, 93%, 58%);
  border: none;
  color: white;
  font-size: 1em;
  font-weight: 500;
  width: 15%;
  }
  input[type = "submit"]:hover{
    opacity: 0.5;
  }
  .sub-text{
    margin-top: 25px;
    text-align: center;
    color: hsl(209, 33%, 12%);
    font-weight: 100;
  }
 .dashboard{
    margin-top: 50px;
    width: 85%;
    margin-left: 75px;
    margin-right: 25px;
  }
  .font-awesome{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }
  .font-awesome img{
    width: 2%;
    margin-left: 30px;
  }
  .font-awesome a{
    list-style-type: none;
    text-decoration: none;
  }
  footer{
    margin-top: 70px;
  }
  footer p{
    text-align: center;
    color:  hsl(0, 0%, 59%);
  }
  #error{
    font-size: 0.7em;
    clear: both;
  }
}